body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #1f2d1f, #3a4e3a);
  color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Align content to the top */
  min-height: 100vh;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.page-wrapper {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  width: 100vw;
}

.container {
  background: #2b2f2b;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 90%;
  max-width: 800px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #4d7253;
  color: white;
}

tr:hover {
  background-color: #3d5c44;
}

.icon-button {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-right: 10px;
}

td:first-child {
  text-align: center;
}

td a {
  color: #f0f0f0;
  text-decoration: none;
}

td a:hover {
  color: #ffffff;
  text-decoration: underline;
}
